body {
  background-color: #FAF7F0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #CDFCF6;
  height: 0px;
  width: 40%
}

img {
  height: 200px;
}

h1 {
  color: #98A8F8;
}
h2 {
  color:#98A8F8;
}
h3 {
  color: #98A8F8;
}
