body {
  background-color: #EDF6E5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #00ADB5;
  height: 0px;
  width: 40%
}

img {
  height: 200px;
}

h1 {
  color: #00ADB5;
}
h2 {
  color:#393E46;
}
h3 {
  color: #393E46;
}
