

.top-container  {
  background-color: #E3FDFD;
}

.middle-container  {
  background-color:red;
width: 200px;
height: 200px;
}


.bottom-container  {
  background-color: blue;
  width: 200px;
  height: 200px;
}
